@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: #b3ff00;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow:scroll;
}

#canvas {
    background-color:navy;
    margin-top: 10px;
}

h1 {
    background: #006275;
    border-bottom:solid 3px #41f2ff;
    color: #41f2ff;
}

p{
    background-color: #006274;
    font-size: 20px;
    color: #41f2ff;
}

#aitem{
    background-color: #006274;
    font-size: 20px;
    color: #ffc0cb;
}